/*body {
	margin-top: 50px;
}*/

/*h2{
	text-align: center;
}*/

div{
	text-align: center;
	
}

input[type="submit"]{
	margin-top: 20px;
	background: #ffa500;
	border: 1px solid #DDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #111;
	width: 100px;
	padding: 10px 0;
	color: white;
	font-weight: bold;
	font-size: 1.0em;
}